{% extends "layout.html.twig" %}
{% set practMenu = true %}

{% block title %}Praticients{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>
{% if practitioners %}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nom </th>
                    <th>Type</th>
                </tr>
            </thead>
            {% for practitioner in practitioners %}
                <tr>
                    <td><a href="/practitioners/{{ practitioner.id }}">{{ practitioner.first_name ~" "~ practitioner.name }}</a></td>
                    <td>{{practitioner.typeID.name}}</td>                    
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">Aucun praticient trouvé.</div>
{% endif %}   
{% endblock %}    