{# empty Twig template #}
{% extends "layout.html.twig" %}
{% set reportMenu = true %}

{% block title %}Rapport de visite{% endblock %}

{% block content %}
<h2 class="text-center">Nouveau rapport de visite</h2>
<div class="well">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">Practiciens</label>
            <div class="col-sm-9">
                <select class="form-control" name="type">
                    {% for practitionerId in practitionerId %}
                    <option value="{{ practitionerId.id }}"</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Date</label>
            <div class="col-sm-9">
            <p class="form-control-static"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Motif</label>
            <div class="col-sm-9">
                <p class="form-control-static"></p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Bilan</label>
            <div class="col-sm-9">
                <p class="form-control-static"></p>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}
